@if(loading){
    <div class="d-flex justify-content-center my-3">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}@else if (error){
    <div class="d-flex justify-content-center my-3">
        <h2 class="text-danger">Error loading the videogame, please try again</h2>
    </div>
}@else {
    <div class="container">
        <!-- Videogame Details -->
        <div class="row my-3 p-4 game-details rounded">
            <div class="col-lg-6 d-flex align-items-center">
                <div id="gameDetailCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="server/img/header/{{videogame.id}}.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col">
                        <h2 class="mt-2">{{videogame.title}} <i class="bi bi-heart clickable-icon" #wishlistIcon (click)="wishlist(videogame.id, wishlistIcon)"></i></h2> 
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col">
                        <h4 class="mt-2">{{videogame.release_date}}</h4> 
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-6">
                        <h6 class="card-subtitle mb-2 text-body-secondary">Developers:<br> 
                            <a class="text-primary clickable" (click)="getVideogamesByDeveloper(videogame.developer)">{{videogame.developer}}</a><br>
                        </h6>
                    </div>
                    <div class="col-6">
                        <h6 class="card-subtitle mb-2 text-body-secondary">Tags:<br>
                            <a class="text-warning clickable" (click)="getVideogamesByTag(videogame.tag)">{{videogame.tag}}</a>
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2 fw-medium">
                        {{videogame.description}}
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2 fs-1">
                        <div class="d-flex justify-content-center">
                            <p class="align-self-end">Price: <strong class="text-warning">${{videogame.price}}</strong></p>
                        </div>
                    </div>
                </div>
                <div class="row tooltip-container">
                    <div class="col d-flex justify-content-center mb-2">
                        <h3 class="text-warning" [hidden]="videogame.onSale == true">Not for sale {{videogame.onSale}}</h3>
                        <div (mouseover)="onButtonHover()" (mouseleave)="showTip = false" [hidden]="videogame.onSale == false">
                            <button class="btn btn-lg btn-success" (click)="addVideogameToCart()" [disabled]="!isUserLoggedIn">
                                ADD TO CART
                            </button>
                            <p class="tooltip" [class.visible]="showTip">Please log in first</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Similar Videogames -->
<div class="row">
    <h3>Similar games</h3>
    <hr>
    @if(loadingSimilar){
        <div class="d-flex justify-content-center my-3">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }@else if(errorSimilar){
        <div class="d-flex justify-content-center my-3">
            <h2 class="text-danger">Error loading videogames, please refresh</h2>
        </div>
    }@else if(similarVideogames.length === 0){
        <div class="d-flex justify-content-center my-3">
            <h2 class="text-warning">No similar videogames found</h2>
        </div>
    }@else {
        @for (similarGame of similarVideogames; track $index) {
            <div class="col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center mb-3">
                <app-videogame-card [videogame]="similarGame" />
            </div>
        }
    }
</div> 
